<%= form_with model: [ @category, @category.tasks.build ] do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>
  <div>
    <%= f.label :description %><br>
    <%= f.text_field :description %><br>
  </div>
  <div>
    <%= f.label :priority  %>
    <span>(1:High, 2: Medium, 3:Low)</span><br>
    <%= f.number_field :priority, in: 1.0..3.0, step: 1 %><br>
  </div>
  <div>
    <%= f.label :deadline %><br>
    <%= f.datetime_local_field :deadline %><br>
  </div>
  <div>
    <%= f.label :completed %><br>
    <%= f.select :completed, ['true', 'false'], selected: 'false' %><br>
  </div>
  <div>
    <%# f.label :user_id this is another way of passing data into task_params but hidden to user  %><br>
    <%# f.number_field :user_id, id: :task_user_id, value: current_user.id,
      type: :hidden %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
