<div class="tasks-container">
  <div class="d-flex justify-content-evenly flex-wrap">
    <% @category.tasks.each do |task| %>
      <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 15rem;">
        <div class="card-body">
          <h5 class="card-title"><%= link_to task.name, class: "category-title" %></h5>
          <p class="card-text">Due on <%= task.deadline.strftime("%d %b %Y") %></p>
          <p class="card-text"><%= task.description %></p>
          <div class="d-flex justify-content-evenly button-container">
            <%= link_to 'Edit', edit_category_task_path(task), class: "btn btn-purple" %>
            <%= link_to 'Delete', [task.category, task], class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
      <%# task.priority %>
      <%# task.completed %>
    <% end %>
  </div>
</div>