<div>
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Deadline</th>
      <th>Completed</th>
      <th>Action</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% if task.persisted? %> <%# only display tasks saved in the database %>
        <td><%= link_to task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.priority %></td>
        <td><%= task.deadline.strftime("%d %b %Y") %></td>
        <td><%= task.completed %></td>
        <td><%= link_to 'Edit', edit_category_task_path(task) %></td>
        <td><%= link_to 'Delete', [task.category, task],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
</div>
