<div class="d-flex justify-content-center">
    <div class="card flex-column shadow p-3 mb-5 bg-body rounded" style="width: 28rem;">
        <div class="form-container">
            <div class="title">
              <h2>Edit Task</h2>
            </div>
            <%= form_with model: [ @category, @task ] do |f| %>
              <div class="mb-4">
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control", id: "name" %>
              </div>
              <div class="mb-4">
                <%= f.label :description %>
                <%= f.text_field :description, class: "form-control", id: "description" %>
              </div>
              <div class="mb-4">
                <%= f.label :priority %>
                <span>(1:High, 2: Medium, 3:Low)</span>
                <%= f.number_field :priority, in: 1.0..3.0, step: 1, class: "form-control", id: "priority" %>
              </div>
              <div class="mb-4">
                <%= f.label :deadline %>
                <%= f.datetime_local_field :deadline, class: "form-control", id: "deadline" %>
              </div>
              <div class="mb-4">
                <%= f.label :completed %><br>
                <%= f.select :completed, ['true', 'false'], selected: 'false', class: "form-control", id: "completed" %><br>
              </div>
              <div class="mb-4">
                <%= f.submit :Submit, class: "btn btn-purple" %>
              </div>
            <% end %>
        </div>
    </div>
</div>
<%# f.label :category_id this is another way of passing data into task_params but hidden to user  %><br>
<%# f.number_field :category_id, id: :task.category_id, value: task.category_id,
    type: :hidden %>