<div>
  <div>
    <img src=<%= @category.image_url %> alt="No image available" width="300rem" height="300rem">
    <h1><%= @category.name %></h1><br>
    <p class="p-2 btn-group btn-group-sm">
    <%= link_to "Back", root_path(@category) %>
    <%= link_to "Edit", edit_category_path(@category) %>
    <%= link_to "Delete", category_path(@category),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </div>
  <div>
    <h2>Tasks</h2>
    <%= render @category.tasks %>

    <h2>Add new task</h2>
    <%= render 'tasks/form' %>
  </div>
</div>
